body{
    background-color: #fff;
    font-family: gothic-a1, sans-serif;
    line-height: 1.5;
    color:#010101;
    margin: auto 0%;
}

//Mobile
@media (max-width: 600px){

}

//Tablette
@media (min-width: 601px){

}

//Desktop
@media (min-width: 1000px){

}
