:root {
    --color-white: #FFFFFF;
    --color-black: #010101;
    --color-midnightindigo: #19124A;
    --color-aftereffects: #110C39;
    --color-lavender: #878BC5;
    --color-crimsonblaze: #EE1D52;
  }

* {
    box-sizing: border-box;
    margin: 0;
  }

body{
    background-color: var(--color-white);
    font-family: gothic-a1, sans-serif;
    line-height: 1.5;
    color:#010101;
    margin: auto 0%;
}

/* SCROLL MENU */
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

//Mobile
@media (max-width: 600px){

    .header{
        margin: 61px 0 0 0;
    }

}

//Tablette
@media (min-width: 601px){

    //HEADER
    .nav__menu {
        padding: 31px 0 31px 0;
        overflow-x: scroll;
        scrollbar-color: transparent transparent;
      }
      
      .menu__list {
        gap: 18px;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
      }
      
      .menu__list li {
        margin: 0 10px;
      }
      
      .menu__list li a {
        text-decoration: none;
        color: var(--color-black);
      }

}

//Desktop
@media (min-width: 1000px){

    //HEADER
    .nav__menu {
        padding: 31px 0 31px 0;
    }

    .menu__list{
        justify-content: flex-end;
        gap: 20px;
        margin: 0 20px 0 0;
    }

}

//HEADER
.header{
    background-color: var(--color-lavender);
}

.nav__menu{
    background-color: var(--color-white);
    font-weight: 900;
}

.menu__list{
    display: flex;
    list-style: none;
}
