:root {
  --color-white: #FFFFFF;
  --color-black: #010101;
  --color-midnightindigo: #19124A;
  --color-aftereffects: #110C39;
  --color-lavender: #878BC5;
  --color-crimsonblaze: #EE1D52;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-white);
  font-family: gothic-a1, sans-serif;
  line-height: 1.5;
  color: #010101;
  margin: 0% auto;
  font-size: 18px;
}

/* SCROLL MENU */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  main {
    margin: 0% auto;
  }
  .grid__header {
    padding: 0 0 91px 0;
  }
  .burger__menu {
    position: fixed;
    right: 10px;
    top: 15px;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    border-width: 0;
    padding: 0;
  }
  .bar {
    width: 100%;
    height: 4px;
    margin: 3px 0 0 0;
    border-radius: 42px;
    background-color: var(--color-crimsonblaze);
    transition: transform 0.3s ease;
  }
  .burger__menu.designopen .bar:nth-child(2) {
    opacity: 0;
  }
  .burger__menu.designopen .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger__menu.designopen .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu__list {
    position: fixed;
    background-color: var(--color-midnightindigo);
    width: 100%;
    height: 100%;
    top: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    transform: translateY(-900px);
    transition: all 0.5s ease-in-out;
    background-image: url(../assets/images/bkcg--ae.svg);
    background-position-x: -25px;
    z-index: 999;
  }
  .menu__list a {
    text-decoration: none;
    color: var(--color-white);
    text-align: center;
  }
  .menu--open .menu__list {
    transform: translateY(0px);
  }
  .div__gif {
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
  }
  .img--gif {
    transform: rotate(-90deg);
    width: 70%;
  }
  .title__1 {
    font-size: 91px;
    margin: 30px 10px 0 10px;
  }
  .span__title1 {
    font-size: 30px;
    margin: 30px 0 0 70px;
  }
  .title__2 {
    padding: 91px 5% 0 5%;
    font-size: 41px;
  }
  .title__3 {
    padding: 41px 0 0 0;
    font-size: 27px;
  }
  .title__3--box {
    margin: 0 5% 0 5%;
  }
  .title__3--margin {
    margin: 0 5% 0 5%;
  }
  .para {
    padding: 27px 0 0 0;
  }
  .para--box {
    margin: 0 5% 0 5%;
    padding-bottom: 41px;
  }
  .box {
    margin: 41px 5% 0 5%;
  }
  .parentbox__grid {
    padding-bottom: 91px;
  }
  .editor__scroll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 41px 0 91px 0;
  }
  .img__tiktok {
    bottom: 0;
    width: 100%;
    height: auto;
  }
  .meet__list {
    padding-bottom: 91px;
    gap: 18px;
    margin: 0 5%;
  }
  .meet__scroll {
    margin-top: 91px;
  }
  .meet__el {
    width: 330px;
  }
  .centerbutton {
    padding-bottom: 41px;
  }
  .button__meet {
    width: 50%;
    height: 50px;
  }
  .button__hide {
    bottom: 10%;
    left: 45%;
    right: 45%;
    width: 10%;
    height: 5%;
    padding: 0%;
  }
  .centergraph {
    padding-top: 41px;
  }
  .hypo__titlepara {
    margin: 0 5% 0 5%;
  }
  .hypo {
    margin: 41px 0 0 0;
    gap: 41px;
  }
  .img__hypo {
    margin: 41px 0 91px 0;
  }
  .img__hypo--cc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img__hypo--cc .img__cc {
    max-width: 90%;
    max-height: 60%;
  }
  .loop-videoedit {
    width: 100%;
    margin: 41px 0 91px 0;
  }
  .div__presentation {
    margin: 0 5% 0 5%;
  }
  .div__girls {
    margin: 41px 5% 91px 5%;
  }
  .div__girls .img__girls {
    width: 100%;
    height: 100%;
  }
  .box__ccl {
    margin-bottom: 91px;
  }
  .grid__footer {
    margin: 0 2% 21px 2%;
  }
  .dwt {
    width: 45px;
    margin: 0 0 0 10px;
    position: relative;
    bottom: -3px;
  }
  .grid__footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    row-gap: 18px;
    margin-top: 41px;
  }
  .credits {
    align-self: center;
  }
  .menu__listgrid {
    display: flex;
    gap: 18px;
    list-style: none;
    padding: 0;
  }
  .header__2 {
    height: 400px;
  }
  .section__other {
    margin: 91px 0;
  }
  .div__credits {
    margin: 0px 5% 0px 5%;
  }
  .menu__elcolor {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 601px) {
  main {
    position: relative;
    top: -100px;
    background-color: var(--color-white);
  }
  .header {
    height: 800px;
  }
  .menu--sticky {
    position: fixed;
    flex-direction: row;
    width: 100%;
    top: 0%;
    z-index: 10;
  }
  .nav__menu {
    padding: 15px 0 15px 45px;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
  }
  .menu__list {
    display: flex;
    gap: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .menu__list li {
    margin: 0 10px;
  }
  .menu__list li a {
    text-decoration: none;
    color: var(--color-black);
  }
  .lineheader {
    height: 1px;
    background-color: var(--color-aftereffects);
  }
  .burger__menu {
    display: none;
  }
  .menu--sticky .menu__el {
    position: relative;
  }
  .menu--sticky .menu__el::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: var(--color-lavender);
    border-radius: 10px 10px 0 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .menu--sticky .menu__el:hover::after {
    opacity: 1;
  }
  .menu--sticky .menu__el--active::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: var(--color-lavender);
    border-radius: 10px 10px 0 0;
  }
  .grid__header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(1, 1fr);
    padding: 160px 0 91px 0;
  }
  .div__gif--grid {
    grid-column: 2;
    grid-row: 1;
  }
  .title__1--grid {
    grid-column: 1;
    grid-row: 1;
  }
  .div__gif {
    position: absolute;
    bottom: -100px;
    right: 0%;
  }
  .img--gif {
    width: 350px;
    position: relative;
    display: block;
  }
  .title__1 {
    font-size: 91px;
    display: inline;
    margin: 80px 0 0 5%;
  }
  .span__title1 {
    font-size: 30px;
    margin: 0 0 0 10%;
    width: 300px;
  }
  .title__2 {
    padding: 91px 5% 0 5%;
    font-size: 61px;
  }
  .title__3 {
    padding: 61px 0 0 0;
    font-size: 41px;
  }
  .title__3--box {
    margin: 0 7% 0 7%;
  }
  .title__3--margin {
    margin: 0 7% 0 7%;
  }
  .para {
    padding: 41px 0 0 0;
  }
  .para--box {
    margin: 0 7% 0 7%;
    padding-bottom: 61px;
  }
  .box {
    margin-top: 91px;
  }
  .parentbox__grid {
    margin: 0 5% 0 5%;
    padding-bottom: 273px;
  }
  .parentbox__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 0.3fr);
    gap: 18px;
  }
  .box__grid1 {
    grid-column: 1/6;
    grid-row: 1;
  }
  .box__grid2 {
    grid-column: 3/8;
    grid-row: 2;
    justify-self: end;
  }
  .box__grid3 {
    grid-column: 1/6;
    grid-row: 3;
  }
  .section--background {
    background-image: url(../assets/images/Background-section.svg);
    background-size: 30%;
  }
  .editor__scroll {
    margin: 61px 0 0 0;
  }
  .editor__list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  .editor__list--center {
    position: relative;
    right: 100px;
  }
  .editor__list--up {
    position: relative;
    left: 50px;
  }
  .editor__el {
    width: 32%;
    height: 250px;
    position: relative;
  }
  .img__tiktok {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  .meet__list {
    padding-bottom: 91px;
    margin: 0 5%;
    gap: 20px;
  }
  .meet__scroll {
    margin-top: 91px;
  }
  .meet__el {
    width: 502px;
  }
  .centerbutton {
    padding-bottom: 61px;
  }
  .button__meet {
    width: 30%;
    height: 50px;
  }
  .button__hide {
    bottom: 10%;
    left: 5%;
    width: 5%;
    height: 5%;
    padding: 0%;
  }
  .centergraph {
    padding-top: 61px;
  }
  .hypo__titlepara {
    margin: 0 7% 0 7%;
  }
  .hypo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    row-gap: 90px;
    margin: 91px 0 91px 0;
  }
  .img__hypo--ae {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    top: 25%;
  }
  .img__hypo--cc {
    width: 246px;
    height: 293px;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }
  .img__ae .img__cc {
    position: absolute;
  }
  .butprojet {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    margin: 0 5% 0 5%;
  }
  .butgrid1 {
    grid-column: 3/8;
    grid-row: 1;
    height: -moz-min-content;
    height: min-content;
  }
  .butgrid2 {
    grid-column: 3/8;
    grid-row: 3;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 91px;
  }
  .butgrid3 {
    grid-column: 1/6;
    grid-row: 2;
    height: -moz-min-content;
    height: min-content;
    margin-top: 91px;
  }
  .loop-videoedit {
    width: 100%;
  }
  .presentationgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 91px 0;
    gap: 50px;
  }
  .div__presentation {
    margin: 0 7%;
  }
  .div__girls {
    display: grid;
    justify-items: end;
    align-items: end;
  }
  .img__girls {
    width: 100%;
    height: -moz-min-content;
    height: min-content;
  }
  .conclusiongrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 0 0 0 0;
  }
  .box__ccl {
    grid-column: 2/7;
    margin-bottom: 91px;
  }
  .grid__footer {
    margin: 0 2% 21px 2%;
  }
  .dwt {
    width: 45px;
    margin: 0 0 0 10px;
    position: relative;
    bottom: -3px;
  }
  .grid__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .credits {
    align-self: end;
  }
  .menu__listgrid {
    display: flex;
    gap: 18px;
    list-style: none;
    justify-self: end;
  }
  .header__2 {
    height: 500px;
  }
  .section__other {
    padding: 91px 0;
  }
  .div__credits {
    margin: 0px 7% 0px 7%;
  }
  .menu__elcolor {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 20px;
  }
  main {
    top: 0px;
  }
  .menu__list {
    justify-content: flex-end;
    gap: 20px;
    margin: 0 20px 0 0;
  }
  .grid__header {
    grid-template-columns: 1fr 1fr;
  }
  .div__gif {
    right: 20%;
    bottom: -100px;
  }
  .img--gif {
    width: 450px;
  }
  .title__1 {
    font-size: 101px;
    margin: 100px 0 0 20%;
  }
  .span__title1 {
    font-size: 45px;
    width: 500px;
    margin: 0 0 0 15%;
  }
  .title__2 {
    padding: 101px 5% 0 5%;
    font-size: 68px;
    text-align: center;
  }
  .title__3 {
    padding: 68px 0 0 0;
    font-size: 45px;
  }
  .para {
    padding: 45px 0 0 0;
  }
  .para--box {
    padding-bottom: 68px;
  }
  .box {
    margin-top: 101px;
  }
  .parentbox__grid {
    padding-bottom: 303px;
  }
  .parentbox__grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 0.2fr);
    gap: 20px;
  }
  .box__grid1 {
    grid-column: 1/6;
    grid-row: 1;
  }
  .box__grid2 {
    grid-column: 5/10;
    grid-row: 2;
    justify-self: end;
  }
  .box__grid3 {
    grid-column: 1/6;
    grid-row: 3;
  }
  .editor__scroll {
    margin: 101px 0 0 0;
  }
  .editor__el {
    height: 350px;
  }
  .meet__list {
    padding-bottom: 101px;
  }
  .meet__scroll {
    margin-top: 101px;
  }
  .meet__list {
    gap: 30px;
  }
  .centerbutton {
    padding-bottom: 68px;
  }
  .centergraph {
    padding-top: 68px;
  }
  .hypo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 101px 0 101px 0;
  }
  .img__hypo--ae {
    width: 550px;
    height: 400px;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    top: 0%;
  }
  .img__hypo--cc {
    width: 246px;
    height: 293px;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }
  .hypo__titlepara--grid1 {
    grid-column: 2;
    grid-row: 1;
  }
  .hypo__titlepara--grid2 {
    grid-column: 1;
    grid-row: 2;
  }
  .butprojet {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    margin: 0 5% 0 5%;
  }
  .butgrid1 {
    grid-column: 5/10;
    grid-row: 1;
    height: -moz-min-content;
    height: min-content;
  }
  .butgrid2 {
    grid-column: 5/10;
    grid-row: 3;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 101px;
  }
  .butgrid3 {
    grid-column: 1/6;
    grid-row: 2;
    height: -moz-min-content;
    height: min-content;
    margin-top: 101px;
  }
  .presentationgrid {
    margin: 101px 0;
  }
  .div__girls {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .img__girls {
    width: 429px;
    height: 644px;
  }
  .conclusiongrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 0 0 0 0;
  }
  .box__ccl {
    grid-column: 3/8;
    margin-bottom: 101px;
  }
  .grid__footer {
    margin: 91px 2% 21px 2%;
  }
  .dwt {
    width: 7%;
    margin: 0 0 0 10px;
    position: relative;
    bottom: -3px;
  }
  .header__2 {
    height: 400px;
  }
  .section__other {
    padding: 101px 0;
  }
}
.header {
  background-color: var(--color-lavender);
  background-image: url(../assets/images/backgroundheader@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__menu {
  background-color: var(--color-white);
  font-weight: 900;
}

.title {
  font-family: "kon-tiki-aloha-jf", sans-serif;
}

.span__title1 {
  font-family: gothic-a1, sans-serif;
  display: block;
}

.title__1 {
  color: var(--color-white);
}

.title__2--white {
  color: var(--color-white);
}

.title__3--purple {
  color: var(--color-lavender);
}

.title__3--box {
  text-align: center;
}

.para--white {
  color: var(--color-white);
}

.section--purple {
  background-color: var(--color-midnightindigo);
}

.div--editor {
  background-color: var(--color-white);
  overflow-x: hidden;
}

.box {
  background-color: var(--color-aftereffects);
  border-radius: 42px;
  box-shadow: var(--color-aftereffects) 0px 20px 30px -10px;
}

.meet__scroll {
  overflow-x: scroll;
  padding: 0;
}

.meet__list {
  display: inline-flex;
}

.meet__el {
  background-color: var(--color-white);
  border-radius: 40px;
  height: -moz-min-content;
  height: min-content;
}

.centerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__meet {
  background-color: var(--color-crimsonblaze);
  border: none;
  border-radius: 42px;
  font-family: "kon-tiki-aloha-jf", sans-serif;
  font-size: 30px;
  color: var(--color-white);
  transform: scale(1);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.button__meet:hover {
  box-shadow: var(--color-black) 0px 10px 20px -10px;
  transform: scale(1.05);
}

.action__button {
  background-color: var(--color-white);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 90%;
  height: 90%;
  box-shadow: var(--color-black) 0px 20px 30px -10px;
}

.button__hide {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
}

.cross__buttonhide {
  fill: var(--color-crimsonblaze);
}

.centergraph {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 90%;
  height: 200px;
  background-color: var(--color-white);
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  transform: rotate(-180deg);
}

.bargraph {
  width: 40px;
  background-color: var(--color-lavender);
  margin-right: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.bargraph:hover {
  background-color: var(--color-aftereffects);
}

.bargraph:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--color-lavender);
}

.chart-description {
  margin-top: 41px;
  text-align: center;
  font-weight: 600;
  width: 80%;
}

.img__hypo {
  position: relative;
}

.img__ae {
  bottom: 0;
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img__cc {
  bottom: 0;
  width: 100%;
  height: auto;
}

.conclusiongrid {
  display: grid;
}

.dwt:hover {
  fill: var(--color-crimsonblaze);
}

.lien--footer {
  color: var(--color-black);
  text-decoration: none;
}

.lien--footer:hover {
  text-decoration: underline;
}

.menu__elfooter a {
  text-decoration: none;
  color: var(--color-black);
}

.menu__elfooter:hover {
  text-decoration: underline;
}

@media (min-width: 1300px) {
  .editor__list--center {
    margin-top: 100px;
  }
}
@media (min-width: 1500px) {
  .para--boxwidth {
    width: 55ch;
  }
  .meet__scroll {
    overflow-x: auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
.header__2 {
  background-color: var(--color-lavender);
}

.title__1credits {
  position: relative;
  top: 150px;
}

.menu__elcredits {
  display: flex;
  gap: 25px;
  margin: 41px 0 0 0;
  font-size: 25px;
}

.menu__elcredits a {
  color: var(--color-black);
  text-decoration: none;
}

.menu__elcredits:hover a:hover {
  text-decoration: underline;
  font-weight: 700;
}

.svglien {
  margin: 5px 0 0 0;
}

.title__1ui {
  color: var(--color-black);
}

.title__2--uikit {
  background-color: var(--color-midnightindigo);
  margin-top: 41px;
}

.div__para--uikit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.para--uikit {
  width: 45ch;
}

.div__color {
  margin-top: 41px;
}

.menu__listcolor {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.menu__elcolor {
  list-style: none;
}

.menu__elcolor--mauveae {
  background-color: var(--color-aftereffects);
}

.menu__elcolor--mauve {
  background-color: var(--color-midnightindigo);
}

.menu__elcolor--rose {
  background-color: var(--color-crimsonblaze);
}

.menu__elcolor--blanc {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}

.menu__elcolor--noir {
  background-color: var(--color-black);
}

.div__fonts {
  margin-top: 101px;
}

.para__fonts {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}

.para__fonts--tiki {
  font-family: "kon-tiki-aloha-jf", sans-serif;
}

.para__fonts--gothic {
  font-family: gothic-a1, sans-serif;
}

.para__fonts--bold {
  font-weight: 900;
}

.para__fonts--regu {
  font-weight: 400;
}/*# sourceMappingURL=app.css.map */